html {
  scroll-behavior: smooth;
}

.position-absolute {
  position: fixed;
  top: 0;
  z-index: 2000;
}

.animation-delay-500 {
  animation-delay: 0.5s;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

.animation-delay-1500 {
  animation-delay: 1.5s;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-count {
  animation-iteration-count: infinite;
}

.rounded-border {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 20px;
}

a:hover {
  color: #ffffff90 !important;
  transition: 0.5s;
}

.nav-link {
  padding-left: 10px !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.scroll {
  position: fixed !important;
  background-color: #fff;
  transition: 0.5s;
  animation: scroll-animation 0.5s;
}

.scroll i {
  color: #1b139f !important;
}

.scroll .nav-link {
  color: #1b139f !important;
}

.active {
  border: 1px solid #1b139f !important;
  border-radius: 20px;
}

@keyframes scroll-animation {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
#home {
  min-width: 100vw;
}
.hero-img {
  background-image: url(../../__data/Bg-Shape.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
}
.mouse-img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border: 1px solid white !important;
}
.mouse-img img {
  width: 15px;
}

.hero-icon {
  position: absolute;
  left: 5%;
  bottom: 40px;
}

.stick-icon {
  width: 5px;
  height: 40px;
}

.social-icon {
  transition: 0.5s;
}

.social-icon:hover {
  transform: scale(1.4);
}

#about {
  background-image: url("../../__data/bg-2.svg");
}
.offer-text {
  height: 170px;
}
.card.rounded-border {
  transition: 0.5s;
}

.card.rounded-border:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.card.rounded-border img {
  transition: 0.5s;
}

.card.rounded-border:hover img {
  transform: translateX(20px);
}

#pricing {
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #8c85fa;
}
.slick-dots li.slick-active {
  background-color: #8c85fa;
  width: 15px;
  height: 15px;
}

#contact {
  background-image: url("../../__data/footer-1.svg"),
    url("../../__data/footer-2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 70%;
}

.contact-info {
  margin-left: 1rem;
}

.icon {
  padding: 10px;
  margin-right: 103px;
}

i {
  cursor: pointer;
  user-select: none;
}

tr {
  border-width: 15px;
  border-color: transparent;
}

@media (max-width: 980px) {
  header {
    background-color: white;
  }
  header li a.nav-link {
    color: #1b139f !important;
  }
}

@media screen and (max-width: 450px) {
  .hero-icon {
    left: 5%;
    top: -160px !important;
  }
}
